[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blind-watermark = "*"
pywavelets = "*"
python-gnupg = "*"
pillow = "*"
qiniu = "*"
python-dotenv = "*"
pcloud = "*"
jianshou-client = "*"
boto3 = "*"
pytest = "*"
moviepy = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
