<link rel="stylesheet" href="/css/newsletter.css"> 

<button class="trigger button">Subscribe</button>

<div class="modal show-modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
		<form method="post" action="https://listmonk.p1slave.com/subscription/form" class="listmonk-form">
			<div>
				<h3>欢迎订阅邮件列表，获取最新内容通知</h3>
				<input type="hidden" name="nonce" />
				<p><input type="email" name="email" required placeholder="E-mail" /></p>
				<p><input type="text" name="name" placeholder="Name (optional)" /></p>
			
				<p>
				<input id="667b7" type="checkbox" name="l" checked value="667b7d2f-54b2-4974-bd3d-2657d19e84cf" />
				<label for="667b7">博客动态</label>
				</p>
				<p>
				<input id="5c1f4" type="checkbox" name="l" checked value="5c1f4224-96fd-4fce-beb0-0c1b5c554a49" />
				<label for="5c1f4">付费内容更新</label>
				</p>

				<p><input class="button" type="submit" value="Subscribe" /></p>
			</div>
		</form>
    </div>
</div> 

<script src="/js/newsletter.js"></script>
