<link rel="stylesheet" href="/css/newsletter.css"> 

<button class="trigger button">订阅</button>

<div class="modal show-modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>

		<form method="post" action="https://subscribe.p1slave.com/subscription/form" class="listmonk-form">
			<div>
				<h3>欢迎订阅邮件列表，获取最新内容通知，点空白处关闭弹窗</h3>
				<input type="hidden" name="nonce" />
				<p><input type="email" name="email" required placeholder="邮箱地址" /></p>
				<p><input type="text" name="name" placeholder="姓名 (选填)" /></p>
			
				<p>
				<input id="88e32" type="checkbox" name="l" checked value="88e32294-1267-49fa-9f2a-0a1f21c374c5" />
				<label for="88e32">博客动态</label>
				</p>
				<p>
				<input id="7c419" type="checkbox" name="l" checked value="7c419de6-5cf3-4e3b-a942-18a55421885d" />
				<label for="7c419">付费视频更新</label>
				</p>

				<p><input type="submit" value="Subscribe" /></p>
			</div>
		</form>

    </div>
</div>


<script src="/js/newsletter.js"></script>


